.hero {
  background-image: url("../../img/banner.png");
  background-repeat: no-repeat;
  padding-top: 113px;
  padding-bottom: 143px;
  background-position: calc(50% - 70px);
}
.text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 52px;
  color: white;
  margin-bottom: 32px;
}
.tx {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: white;
  text-transform: lowercase;
  margin-bottom: 30px;
  width: 352px;
}
.btn {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: white;
  background: #0e2149;
  padding: 12px 50px;
  border: none;
}
